.casas-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 25px;
}

.brasao{
  border-radius: 8px;
  cursor: pointer;
  width: 200px;
  height: 100%;
  text-align: center;
}

.sem-display{
  display: none;
}

.casas-grifinoria{
  background: #ae0001;
}
.casas-sonserina{
  background: #2a623d;
}
.casas-lufa{
  background: #E9AC2D ;
}
.casas-corvinal{
  background: #222f5b;
}

.ampliar{
  font-size: 1.5rem;
  width: 500px;
  place-items: center;
}
.ampliar img{
  width: 200px;
}



