* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ccc;
  font-family: 'arial';
  height: 10000px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  max-width: 100%;
}


.container{
  margin: 0 auto;
  max-width: 1200px;
}

.btn{
  display: inline-block;
  padding: 15px 30px;
  background: #daa520;
  color: #534112;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
}
.btn:hover{
  background: #ac7e0c;
  color: #382b0b;
}

.titulo{
  font-size: 2.1rem;
  font-weight: 300;
  margin: 25px 0 0 50px;
  display: flex;
  place-items: center;
  position: relative;
}
.titulo::after{
  content: " ";
  position: absolute;
  left: -25px;
  display: block;
  width: 20px;
  height: 10px;
  background: #534112;
}
.titulo:hover::after,.titulo:hover{
  padding-left: 20px;
}
